<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
  <img src="{{ asset('build/images/logo_leopard.png') }}"  height="75" alt="logo tête de léopard"/>
    <a class="navbar-brand" href="#">Wild Series</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Drama</a></li>
            <li><a class="dropdown-item" href="#">Comédie</a></li>
            <li><a class="dropdown-item" href="#">Horreur</a></li>
          </ul>
        </li><li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acteurs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pierce Brosnan</a></li>
            <li><a class="dropdown-item" href="#">Meryl Streep</a></li>
            <li><a class="dropdown-item" href="#">Jeff Goldblum</a></li>
            <li><a class="dropdown-item" href="#">Ian McKellen</a></li>
          </ul>
        </li>
        </ul>
        <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Connexion</a>
        </li>
      
      
      <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{ asset('build/images/heart-32-black.png') }}" alt="logo tête de léopard"/></a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>